
.page-link{
    background-color: rgb(255, 255, 255);
    color: #484848;
    border-radius: 5px;
    margin: 1%;
}
.pagination{
    --bs-pagination-active-bg: #484848;
    --bs-pagination-active-border-color:#484848;
    --bs-pagination-color: #ffffff;
    --bs-pagination-focus-color: #ffffffff;
    --bs-pagination-hover-color: #484848;
}
.pagination_menu{
    margin: 2%;
    --bs-pagination-active-bg: #484848;
    --bs-pagination-active-border-color:#484848;
    --bs-pagination-color: #ffffff;
}
.page-link:active{
    background-color: #484848;
}